<nav class='navbar navbar-default'>
  <div class='container-fluid'>

    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collpase-1'>
        <span class='sr-only'> Toggle Navigation </span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to 'Tasteify', root_path, class: 'navbar-brand'%>
    </div>

    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav'>
        <li> <%=link_to 'Artists', artists_path, class: 'active'%></li>
        <li> <%=link_to 'Users', users_path, class: 'active' %></li>
        <li> <%=link_to 'Playlists', playlists_path, class: 'active' %></li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li><%=link_to 'Sign In', '#'%></li>
      </ul>
    </div>

  </div>
</nav>
